.fields{
    font-weight: 500;
    }
#table{
    background-color: greenyellow;
}
// .b1{
   
//     // background-color: rgb(128, 238, 238) !important;
// }
#tablerow:hover{
    background-color:papayawhip;
}
b2{
    margin: 200px;
}

// .box:hover{
//     background-color:rgb(214, 245, 75);

// }
.add{
    background-color:blue;
}

// #bgi{
//     position:relative;
//     z-index: -1;
//     background-image: url( ../../assets/company.jpeg);
//     background-repeat:no-repeat;
//     background-position:center;
//     background-size:auto;
//     //opacity: 0.5;
// }