<p>child works!</p>
{{x+y}}<br>
{{x}}<br>
{{y}}
<!-- {{names}} -->

    <!-- <table class="table">
        <thead>
          <tr>
            <th scope="col">sr no</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
          </tr>
        </thead>
        <tbody>
<tr *ngFor="let details of names index as i">
    <td>{{i+1}} </td>  <td> {{details.fname}} </td>  <td> {{details.lastname}}</td>
<td>
<button (click)="onclick()">click</button>
</td>
</tr>
</tbody>
</table>> -->